<div style="text-align: center">
  <mat-form-field>
    <mat-label>Select a Game Mode</mat-label>
    <mat-select *ngFor="let gameMode of gameModes" [(value)]="selGameModeId">
      <mat-option value="{{gameMode.gameModeId}}">
        {{gameMode.gameModeString}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Select a Category</mat-label>
    <div>
      <mat-select [(value)]="selCategoryId">
        <mat-option *ngFor="let category of categories" value="{{category.categoryId}}">
          {{category.categoryString}}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
</div>

<div style="text-align: center" *ngIf="selCategoryId && selGameModeId">
  <nav>
    <button [routerLink]="['/quiz', 2, selGameModeId, selCategoryId]">
      Start Quiz
    </button>
  </nav>
</div>